@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";

* { 
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  text-align: center;
}

#backgroundimage {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/949/338/392/blue-leather-cobalt-blue-texture-wallpaper-preview.jpg);
  height: 450px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 79%, 0 100%); 
  background-size: contain;
}

#backgroundskills {
  background-image: url(https://media-exp1.licdn.com/dms/image/C4E1BAQFnLZLSztpNxw/company-background_10000/0/1600438816130?e=2159024400&v=beta&t=6TDkKfwall_8OChS2CeBzYAtlOfYG64Ywbsl4H_AGK8);
  height: 300px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -200px;
  clip-path: polygon(0 0, 0% 0, 50% 50%, 0 80%); 
}


.uk-text-center {
  color: #d4af37;
}

h2, h3, h4 {
  color: #000d16
}

.uk-card {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/949/338/392/blue-leather-cobalt-blue-texture-wallpaper-preview.jpg);
margin: 10px;
padding: 30px;
min-width: 150px;
min-height: 150px;
}

.uk-section {
  padding: 100px;
}

#about {
  margin-top: -150px;
}

#icons {
  filter: invert(80%) sepia(20%) saturate(1392%) hue-rotate(0deg) brightness(86%) contrast(92%);
}

.projectcard {
  background-image: none;
}

.contacticons {
  height: 50px;
}

#footer {
  background-image: url(https://media-exp1.licdn.com/dms/image/C4E1BAQFnLZLSztpNxw/company-background_10000/0/1600438816130?e=2159024400&v=beta&t=6TDkKfwall_8OChS2CeBzYAtlOfYG64Ywbsl4H_AGK8);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 40%, 100% 100%, 0% 100%); 
}